<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /hongkong-chat/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /Trisfusa/page.js [L]
</IfModule>
